@font-face {
    font-family: LatoLight;
    src: url("assets/Lato-Light.ttf");
}

@font-face {
    font-family: LatoThin;
    src: url("assets/Lato-Thin.ttf");
}

@font-face {
    font-family: LatoRegular;
    src: url("assets/Lato-Regular.ttf");
}

@font-face {
    font-family: LatoBold;
    src: url("assets/Lato-Bold.ttf");
}

@font-face {
    font-family: LatoBlack;
    src: url("assets/Lato-Black.ttf");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    display: grid;
    overflow-y: hidden;
}

h1, h2, p {
    color: #202D4A;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.preload-greeter {
    position: relative;
    top: 50px;
    font-weight: normal;
    font-family: LatoBlack, serif;
    font-size: 40pt;
    opacity: 0;
    color: black;
}

.intro {
    background-color: #ECF0F6;
    /*height: 600px;*/
    /*white-space: nowrap;*/
    text-align: center;
    padding: 0;
    margin: 0;
    top: 0;
}

.greeting {
    margin-top: 70px;
}

.hello, .name {
    margin-left: auto;
    margin-right: auto;
    width: 9em;
    text-align: left;
}

.hello {
    font-family: LatoLight, serif;
    margin-bottom: 0;
    padding-bottom: 0;
}

.name {
    font-family: LatoBlack, serif;
    margin-top: 10px;
    /*padding-top: 0;*/
}

.headshot {
    object-fit: cover;
    margin-top: 40px;
    margin-bottom: 80px;
    border-radius: 10px;
    width: 224px;
    height: 224px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    user-select: none;
    overflow: hidden;
    position: relative;
    left: 50%;
    margin-left: -112px;
}

.summary {
    font-family: LatoThin, serif;
    font-size: 18pt;
    word-wrap: normal;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    /*TODO: figure out how to limit summary width while keeping it in center*/
}

.scroll-reminder {
    /*text-transform: uppercase;*/
    font-family: LatoRegular, serif;
    font-weight: normal;
    font-size: 11pt;
    color: #3399FF;
    opacity: 0;
    cursor: default;
}

.mouse-svg {
    width: 35px;
    height: auto;
    margin-bottom: 50px;
    fill: #3399FF;
    position: relative;
    opacity: 0;
    /*top: 40px;*/
}

.skills {
    padding: 50px;
}

.skill-header {
    font-family: LatoBold, serif;
    font-weight: normal;
    margin-bottom: 40px;
}

.skills ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    /*display: inline;*/
    margin-right: 20px;
    margin-bottom: 20px;
    background: linear-gradient(322deg, rgba(0, 64, 201, 1) 0%, rgba(0, 181, 255, 1) 100%);
    color: white;
    font-family: Lato, serif;
    border-radius: 20px;
    padding: 10px 15px;
    /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 127, 255, 0.23);
    transform: scale(0);
}

.skills li::selection {
    color: #338FFF;
    background-color: white;
}

.experience {
    background-color: #ECF0F6;
    position: relative;
    padding: 20px 0;
}

.experience-header {
    font-family: LatoBold, serif;
    font-weight: normal;
    margin-left: 50px;
    margin-bottom: 40px;
}

.slideshow {
    margin: 0 auto;
    width: 1080px;
    height: 450px;
    position: relative;
}

.work {
    display: none;
    grid-template-columns: 1fr 0.75fr;
    grid-template-rows: 0.15fr 1fr;
    grid-template-areas: "Title Picture" "Description Picture";
    background-color: white;
    width: 900px;
    height: 450px;
    margin: 0 90px;
    box-shadow: 2px 15px 50px 0px rgba(0,0,0,0.16);
    border-radius: 20px;
    overflow: hidden;
}

.work.visible {
    display: grid;
}

.work h2 {
    grid-area: Title;
    font-family: LatoBlack, serif;
    font-weight: normal;
    font-size: 20pt;
    color: #2F3F80;
    margin: 25px 20px;
    /*margin-top: 25px;*/
    /*margin-left: 20px;*/
}

.work p {
    grid-area: Description;
    font-family: LatoLight, serif;
    font-size: 14pt;
    margin: 0 20px;
}

.work div {
    grid-area: Picture;
    overflow: hidden;
}

.atlas-img img {
    /*transform: translateX(-170px);*/
    /*transform-origin: -170px 0 0;*/
    position: relative;
    left: -170px;
}

.ford-img img {
    /*transform: translateX(-90px);*/
    /*transform-origin: -90px 0 0;*/
    position: relative;
    left: -90px;
}

.nav-arrow {
    width: 35px;
    fill: #2F3F80;
    transition: all 0.20s ease;
    /*background: white;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.16);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;*/
}

.prev, .next {
    background: white;
    width: 35px;
    height: 35px;
    /*box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.16);*/
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-22.5px);
    transition: all 0.20s ease;
}

.prev:hover, .next:hover {
    transform: translateY(-23.5px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
}

.prev:hover svg, .next:hover svg {
    fill: #5d66a0;
}

.prev:active svg, .next:active svg {
    fill: #2a3871;
}

.prev:active, .next:active {
    transform: translateY(-21.5px);
    box-shadow: 0 6px 12px -2px rgba(50, 50, 93, .25), 0 3px 7px -3px rgba(0, 0, 0, .3);
    background: #ececec;
}

.next {
    position: absolute;
    right: 0;
}

.next svg {
    transform: rotate(180deg);
}

.dot-container {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    user-select: none;
}

.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #A1A1A1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover, .dot.active {
    background: #3F3F3F;
}